<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home_page.css') }}"  >
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Inter:wght@500&family=Montserrat+Alternates:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b8d2cdc1ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = navbar>
        <ul>
            <li><a  href="{{ url_for('home_page') }}" ><img class = "logo" src = "{{ url_for('static',filename='logo.gif') }}"></a></li>
            {% if session.loggedin %}
                <li><a class ="login" href="{{ url_for('logout') }}">Log out</a></li>
                    <li class="journal-dropdown">
                        <button class ="journal-tab" >Journal <i class="fa-solid fa-chevron-down"></i></button>
                            <div class="journal-dropdown-content">
                            <a href="{{ url_for('view_routes') }}">Lead Climbing</a>
                            <a href="{{ url_for('view_routes') }}">Bouldering</a>
                            </div>
                    </li>
                    
            {% else %}
                <li><a class ="login" href="{{ url_for('login') }}">Log in</a></li>
                <li class="journal-dropdown-inactive">
                <button class ="journal-tab-inactive" id="openNotLoggedIn">Journal <i class="fa-solid fa-chevron-down"></i></button>
                </li>
                <div class="pop-up-window">
                    <div class="not-logged-in-window" id="notLoggedInWindow" >
                        <span class="close-window" id="closeLoggedIn"><i class="fa-solid fa-xmark"></i></span>
                        <h1>You are not logged in</h1>
                        <div class="text-container">
                            <p>Log in to your profile or sign up to add new routes and boulders to your climbing journal, and keep an eye on your progress!</p>
                        </div>
                        <div class="buttons">
                            <div class="sign-up-button" >
                                <a href="{{ url_for('register') }}" class ="sign_up" >Sign up</a>
                            </div>
                            <div class="log-in-button">
                                <a class ="log_in" href="{{ url_for('login') }}">Have account? Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <li class ="grade-converter-tab"><a class ="grade-converter-tab"  href="{{ url_for('home_page') }}" >Grade converter</a></li>
        </ul>
    </div>


    <div class="graphic-section">
        <img src="{{ url_for('static',filename='background_image.jpg') }}" >
        <div class = "main-title">
            <h1>Climbing grade converter</h1>
        </div>
    </div>

    <div class = "climbing-drop">
        <div class="titles">
            <h1>Lead Climbing</h1>
        </div>
    
        <form method="POST" >
        
            <div class="grade-dropdowns">
                <label for="french">French</label>
                <select id="french" name="french" onchange="this.form.submit()">
                    <option value="">{{rock_grades_by_index[2] }} </option>
                    {% for grade in french %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grade-dropdowns">
            <label for="kurtyka">Kurtyka</label>
                <select id="kurtyka" name="kurtyka" onchange="this.form.submit()">
                    <option value="">{{rock_grades_by_index[5] }} </option>
                    {% for grade in kurtyka %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grade-dropdowns">
            <label for="uiaa">UIAA</label>
                <select id="uiaa" name="uiaa" onchange="this.form.submit()">
                    <option value="">{{rock_grades_by_index[3] }}</option>
                    {% for grade in uiaa %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grade-dropdowns">
            <label for="usa">USA</label>
                <select class ='grade' id="usa" name="usa" onchange="this.form.submit()">
                    <option value="">{{rock_grades_by_index[1] }} </option>
                    {% for grade in usa %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grade-dropdowns-last">
            <label for="british">British</label>
            <select id="british" name="british" onchange="this.form.submit()">
                <option value="">{{rock_grades_by_index[4] }}</option>
                {% for grade in british %}
                    <option value="{{ grade }}">{{ grade }}</option>
                {% endfor %}
            </select>
            </div>
        
            <div class="titles">
                <h1>Bouldering</h1>
            </div>
   
            <div class="grade-dropdowns">
            <label for="v_scale">V-scale</label>
            <select id="v_scale" name="v_scale" onchange="this.form.submit()">
                <option value="">{{bouldering_grades_by_index[1] }}</option>
                {% for grade in v_scale %}
                    <option value="{{ grade }}">{{ grade }}</option>
                {% endfor %}
            </select>
            </div>

            <div class="grade-dropdowns-last">
                <label for="font_scale">Font Scale</label>
                <select id="font_scale" name="font_scale" onchange="this.form.submit()">
                    <option value="">{{bouldering_grades_by_index[2] }}</option>
                    {% for grade in font_scale %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </div>

        </form>

    </div>

    <script src="../static/home_page.js" defer="defer"></script>

</body>
</html>