<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Inter:wght@500&family=Montserrat+Alternates:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/general_form_page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mobile_navbar.css') }}" />
</head>

<body>
    {% include 'mobile_navbar.html' %}

    <div class="content-wrapper">
        <div class="logo-container">
            <a href="{{ url_for('home_page') }}"><img class="logo"
                    src="{{ url_for('static',filename='photos/logo.gif') }}" /></a>
        </div>

        <div class="form-container">
            <div class="form-body">
                <h1>Sign in</h1>
                <div class="first-p">
                    <p>Please fill in your details to access your account</p>
                </div>

                <form action="{{ url_for('login_page') }}" method="post">
                    <div class="field">
                        <label>E-mail</label><br />
                        <input class="box" type="text" name="email" id="email" required />
                    </div>

                    <div class="field">
                        <label>Password</label><br />
                        <input class="box" type="password" name="password" id="password" required />
                    </div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="flash-message" role="alert">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <div class="submit-btn-container">
                        <button class="submit-btn" type="submit" name="submit">
                            Login
                        </button>
                    </div>
                </form>

                <h2 class="second-p">
                    Don't have account?
                    <a href="{{ url_for('register_page') }}">Create new account</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="graphic">
        <img src="{{ url_for('static',filename='photos/log_in.jpg') }}" />
    </div>

</body>

</html>