<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
var subjectObject = {
  "Bouldering": {
    "1": ["Links", "Images", "Tables", "Lists"],
    "2": ["Borders", "Margins", "Backgrounds", "Float"],
    "3": ["Variables", "Operators", "Functions", "Conditions"]    
  },
  "Rock Climbing": {
    "a": ["Variables", "Strings", "Arrays"],
    "b": ["SELECT", "UPDATE", "DELETE"]
  }
}
window.onload = function() {
  var subjectSel = document.getElementById("climbing_type");
  var topicSel = document.getElementById("rating_system");
  var chapterSel = document.getElementById("grade");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {

    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
</script>
</head>   
<body>

<h1>Add a route</h1>

<form>
Climbing Type: <select name="climbing_type" id="climbing_type">
    <option value="" selected="selected">Select subject</option>
  </select>
  <br><br>
Rating System: <select name="rating_system" id="rating_system">
    <option value="" selected="selected">Please select climbing type first</option>
  </select>
  <br><br>
Grades: <select name="grade" id="grade">
    <option value="" selected="selected">Please select rating system first</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">  
</form>

</body>
</html>