body {
	margin: 0;
	padding: 0;
}

/* Graphic section */

.graphic-section {
	position: relative;
}
	.graphic-section img {
		width: 100%;
		height: 158px;
		top: 93px;
		left: -1px;
	}
	.main-title {
		background-color: rgba(255, 255, 255, 0.5);
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 10px 30px;
		border-radius: 8px;
		position: absolute;
		text-align: center;
	}
	.main-title h1 {
		font-family: "Poppins", sans-serif;
		font-size: 20px;
		letter-spacing: 0.05px;
		font-weight: 700;
		text-align: center;
		line-height: 30px;
		margin: 0;
	}

/* Converter section*/

.climbing-drop {
	text-align: center;
	width: 100%;
	height: auto;
	top: 200px;
	border-radius: 20px 20px 0px 0px;
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
}

.titles h1 {
	margin-top: 4%;
	font-family: "Poppins";
	font-size: 32px;
	line-height: 48px;
	letter-spacing: 0.05px;
	font-weight: 400;
	text-align: center;
	color: black;
}

/* Dopdowns*/
.grade-dropdowns-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grade-dropdowns {
	display: inline-block;
	padding: 5px 25px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grade-dropdowns label {
	display: block;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.grade-dropdowns select {
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	width: 90px;
	height: 36px;
}

/*Dropdowns fields*/

#french,
#kurtyka,
#uiaa,
#usa,
#british,
#v_scale,
#font_scale {
	border-radius: 8px;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 8px, 16px, 8px, 16px;
	border: 1px, 1px, 1px, 1px;
	gap: 8px;
}

.grade-dropdowns:hover select {
	background-color: rgba(245, 244, 251, 1);
}

.container {
  max-width: 100%;
}

@media (max-width: 1025px) {
	.graphic-section {
		position: relative;
		text-align: center;
	}
		.graphic-section img {
			width: 100%;
			height: 170px;
			display: block;
		}
		.main-title {
			min-width: 270px;
			padding: 10px 30px;
			top: 33%;
			left: 50%;
		}

	.climbing-drop {
		top: 165px;
	}
		.titles h1 {
			font-size: 24px;
			line-height: 36px;
			letter-spacing: 0.05px;
			font-weight: 400;
		}
}

@media (max-width: 768px) {
	.grade-dropdowns {
		display: block;
		margin-bottom: 20px;
		margin-left: 0rem;
		margin-right: 0rem;
        padding: 5px 10px;
	}

	.grade-dropdowns select {
		width: 90px;
		height: 36px;
		font-size: 16px;
		line-height: 20px;
		border-radius: 8px;
		border-width: 1px;
		padding-left: 16px;
		background: white;
	}

	.grade-dropdowns label {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.05px;
		font-weight: 400;
	}
}
